@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
font-family: Outfit;
background-color:#DDD4C5;
}
select,input,textarea{
    border: 1px solid #726f6f;
    outline-color: #7c3c44;
    border-radius: 4px;
}
.active{
    background-color: #ffd5ea;
    border-color: #722F37;
}

.active p{
      background-color: #ffd5ea;
}
.active img{
      background-color: #ffd5ea;
}